<div class="jumbotron mt-4">
    <h1 class="display-4">Tienda Kewars</h1>
    <p class="lead">Conoce en nuestra Tienda Online las tendencias en moda para Hombre y Mujer</p>
    <hr class="my-4">
    <p>Somos una marca colombiana de moda, enfocada en un estilo de vida joven, fresco y urbano. Encuentra en nuestra
        tienda online calzado para mujer, hombre, niña y niño perfectos para todas las ocasiones y momentos : trabajo,
        universidad, fiesta, comida familiar, tarde de amigos. Nuestras colecciones están pensadas en calzado de moda
        del momento para que lleves lo mejor de las
        tendencias a tu closet y disfrutes del estilo de vida.
    </p>
    <a class="btn btn-primary btn-lg btn-rigth" href="/users/register" role="button">Ingresar</a>
</div>