<div class="jumbotron mt-4">
    <h1 class="display-4">Tienda Kewars</h1>
    <p class="lead">Conoce en nuestra Tienda Online las tendencias en moda para Hombre y Mujer</p>
    <hr class="my-4">
    <p>
        <h1>Sección en mantenimiento</h1>
    </p>
    <a class="btn btn-primary btn-lg btn-rigth" href="/board" role="button">Regresar</a>
</div>