<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card-box">
                <div class="card-title">
                    <img src="https://assets.adidas.com/images/w_600,f_auto,q_auto/d285610e30664900b857a7fa00ed0201_9366/Zapatilla_Superstar_Blanco_C77124_01_standard.jpg"
                        class="img-fluid" alt="Adidas">
                    <h2>Adidas</h2>
                    <p>Talla: 38</p>
                    <p>color: Blanco</p>
                    <p>cantidad: 1</p>
                    <p>precio: 45</p>
                </div>
                <div class="card-button">
                    <a href="users/login" type="button" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-box">
                <div class="card-title">
                    <img src="https://assets.adidas.com/images/w_600,f_auto,q_auto:sensitive,fl_lossy/61f87dec481e4512823ea7fb0080ba1a_9366/Zapatilla_Gazelle_Negro_BB5476_01_standard.jpg"
                        class="img-fluid" alt="Adidas">
                    <h2>Adidas</h2>
                    <p>Talla: 37</p>
                    <p>color: Blanco</p>
                    <p>cantidad: 1</p>
                    <p>precio: 35</p>
                </div>
                <div class="card-button">
                    <a href="users/login" type="button" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-box">
                <div class="card-title">
                    <img src="https://photos6.spartoo.es/photos/562/5629211/5629211_350_A.jpg" class="img-fluid"
                        alt="Adidas">
                    <h2>Adidas</h2>
                    <p>Talla: 37</p>
                    <p>color: Blanco</p>
                    <p>cantidad: 1</p>
                    <p>precio: 47</p>
                </div>
                <div class="card-button">
                    <a href="users/login" type="button" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>