<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/img/kewars.jpg" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/hombre">Hombre <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/mujer">Mujer <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {{#if user}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ver Mas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/board">Productos</a>
                        <a class="dropdown-item" href="/shopCart">Pedidos</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/users/cerrarSesion">Salir</a>
                    </div>
                </li>
                <a class="btn btn-success" href="/shopCart"><i class="fas fa-cart-plus"></i></a>
                </li>
                {{else}}
                <li class="nav-item active">
                    <a class="nav-link" href="/users/login">Ingresar</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/users/register">Registrar</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>